{{#each this}}
<li class="dev-team__card" >
    <div class="dev-team__card-image" id="team-{{id}}"></div>
    <h2 class="dev-team__card-header">{{name}}</h2>
    <p class="dev-team__card-desc">{{role}}</p>
    <ul class="social-links">
        <li class="social-links__icon"><a href="{{github}}"
            class="github-svg"
            target="_blank"
            rel="noopener noreferer"
            aria-label="GitHub"> 
            </a></li>
        <li class="social-links__icon"><a href="{{linkedin}}"
            class="linkedin-svg"
            target="_blank"
            rel="noopener noreferer"
            aria-label="LinkedIn">
            </a></li>
    </ul>

</li>
{{/each}}