<button class="modal__close-btn" type="button">
        <svg class="modal__close-btn__svg" width="17" heigth="17"></svg>
</button>
<img class="modal-circle-img" src="{{images.0.url}}"
        alt="{{#each _embedded.attractions}}{{this.name}}{{/each}}">
<div class="modal-info-container">
    <img class="modal-large-img" src="{{images.1.url}}"
            alt="{{#each _embedded.attractions}}{{this.name}}{{/each}}">
     <ul class="modal-info-list">
        <li class="modal-info-list__item">
             <h2 class="modal-info-list__title">info</h2>
            <p class="modal-info-list__text">{{name}}</p>
        </li>
        <li class="modal-info-list__item">
            <h2 class="modal-info-list__title">when</h2>
            <p class="modal-info-list__text">{{dates.start.localDate}}<br>{{dates.start.localTime}} {{dates.timezone}}
            </p>
        </li>
        <li class="modal-info-list__item">
                <h2 class="modal-info-list__title">where</h2>
                <p class="modal-info-list__text">
                    {{#each _embedded.venues}}
                    {{this.city.name}}
                    {{/each}}
                    <br>
                    {{#each _embedded.venues}}
                    {{this.name}}
                    {{/each}}
                </p>
        </li>
        <li class="modal-info-list__item who--js">
                <h2 class="modal-info-list__title">who</h2>
                <p class="modal-info-list__text">{{_embedded.attractions.0.name}}</p>
        </li>
        <li class="modal-info-list__item">
                <h2 class="modal-info-list__title">prices</h2>
                <p class="modal-info-list__text">
                    <svg class="modal-barcode-svg" width="30" heigth="30"></svg>
                  Standart {{priceRanges.0.min}} {{priceRanges.0.currency}}
                </p>
                <a class="buy-ticket-btn" href="{{url}}" target="_blank">buy tickets</a>
                <p class="modal-info-list__text">
                    <svg class="modal-barcode-svg" width="30" heigth="30"></svg>
                    VIP {{priceRanges.0.max}} {{priceRanges.0.currency}}
                </p>
                <a class="buy-ticket-btn" href="{{url}}" target="_blank">buy tickets</a>
        </li>
    </ul>
</div>
<button class="modal__more-from-btn" type="button">more from this author</button>
