<button class="modal__close-btn" type="button">
    <svg class="modal__close-btn__svg" width="17" heigth="17"></svg>
</button>
<img class="modal-circle-img" src="{{images.0.url}}" alt="{{#each _embedded.attractions}}{{this.name}}{{/each}}">
<div class="modal-info-container venues">
    <img class="modal-large-img" src="{{images.0.url}}"
    <ul></ul>
    <ul class="modal-info-list venue">
        <li class="modal-info-list__item">
            <h2 class="modal-info-list__title">name</h2>
            <p class="modal-info-list__text">{{name}}</p>
        </li>
        <li class="modal-info-list__item">
            <h2 class="modal-info-list__title">where</h2>
            <p class="modal-info-list__text">{{country.name}} - {{city.name}}</p>
        </li>
        <li class="modal-info-list__item">
            <h2 class="modal-info-list__title">info</h2>
            <p class="modal-info-list__text">{{boxOfficeInfo.openHoursDetail}}</p>
        </li>
        <li class="modal-info-list__item">
            <h2 class="modal-info-list__title">address</h2>
            <p class="modal-info-list__text">{{address.line1}}</p>
        </li>
    </ul>
</div>
<button class="modal__more-from-btn venue" type="button" data-author='{{name}}'>more from this venue</button>